<h1>Menu</h1>

<% if @menu.blank? %>
  <div class="center" style="display: contents"><p>No Menu Items</p></div>
<% else %>
  <table>
    <tr>
      <td></td>
      <td><b>Lunch</b></td>
      <td><b>Dinner</b></td>
    </tr>
    <% @menu.each do |item| %>
      <tr>
        <td><b><%= item.date.strftime("%a") %></b></td>
        <td><%= item.lunch %></td>
        <td><%= item.dinner %></td>
      </tr>
    <% end %>
  </table>
<% end %>