<h1>Admin Pages</h1>

<%= link_to "Members", members_path, class: "admin-link" %>This page has the complete list of member in the database. This is the place to Add, Edit or Delete Members
<br><br>

<%= link_to "Menu", menu_list_path, class: "admin-link" %>This page has the menu items for future dates. This is the place to Add, Edit or Delete Menu Items
<br><br>

<%= link_to "Reset Meals", reset_meals_path, class: "admin-link" %>This page has a button to reset the meals for all members. This will make the weekly meals so that In House meals are In, and Out of House and Alumni meals are Out.
