<h1>Reset Password</h1>

<p>To reset the password, run these commands in a command prompt:
  <br><br>
  heroku run rails c -a ksfh-meals<br>
  c = CrewNumber.first<br>
  c.password = "new-password"<br>
  c.save<br>
  exit<br><br>

  Notes:<br>You will need to login to Heroku<br>The password must be at least 8 characters
</p>