<div class="box" id="navigation">
  <head>
    <link rel=”apple-touch-icon” href=”/AppleIcon.png”/>
    <link rel=”apple-touch-icon-precomposed” href=”/AppleIcon.png”/>
    <link rel="manifest" href="/manifest.json"/>
  </head>
  <h3>
    Meal Sign Up&nbsp;|&nbsp;
    Late Plates&nbsp;|&nbsp;
    Cook&nbsp;|&nbsp;
    Treasurer&nbsp;|&nbsp;
    Permanent Sign Up&nbsp;|&nbsp;
    View Your Meals&nbsp;|&nbsp;
    Menu&nbsp;|&nbsp;
    <!--Crew List&nbsp;|&nbsp;
    Times&nbsp;|&nbsp;-->
    Prayer Website
  </h3>
</div>